// Definición de colores y fuentes
$mainColor: #c45151; // Color principal oscuro
$textColor: #d3d3d3; // Color del texto claro
$mainFont: 'Roboto'; // Fuente principal

// Colores secundarios
$secondaryColor: rgba(36, 31, 31, 0.4); // Color secundario con opacidad
$secondaryColorHighlight: #8B0000; // Color de resaltado secundario (rojo oscuro)
$secondaryColorLight: rgba(0, 0, 0, 0.5); // Color secundario claro
$secondaryColorDark: rgba(12, 12, 12, 0.8); // Color secundario oscuro

// Configuración de la cuadrícula
$gridCols: 5; // Número de columnas en la cuadrícula
$gridRows: 5; // Número de filas en la cuadrícula
$gridSize: 10.2vh; // Tamaño de cada celda de la cuadrícula
$gridGap: 2px; // Espaciado entre celdas
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap}); // Tamaño del contenedor

// Estilos del cuerpo
body {
  margin: 0; // Sin margen
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif; // Fuentes del sistema
  -webkit-font-smoothing: antialiased; // Suavizado de fuentes en WebKit
  -moz-osx-font-smoothing: grayscale; // Suavizado de fuentes en Firefox
  height: 100vh; // Altura del cuerpo
  background: none !important; // Sin fondo
  overflow: hidden !important; // Sin desplazamiento
  user-select: none; // Sin selección de texto
}

// Estilos para el contenedor raíz
#root {
  height: 100%; // Altura del contenedor raíz
}

// Estilos para el elemento de código
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; // Fuente para código
}

// Estilos para la barra de desplazamiento en WebKit
::-webkit-scrollbar {
  display: none; // Ocultar la barra de desplazamiento
}

// Estilos para párrafos
p {
  margin: 0; // Sin margen
  padding: 0; // Sin padding
  font-family: $mainFont; // Fuente principal
}

// Estilos para los inputs de tipo número
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; // Sin apariencia predeterminada
  -moz-appearance: none; // Sin apariencia predeterminada
  appearance: none; // Sin apariencia predeterminada
}

// Estilos para el contenedor de la aplicación
.app-wrapper {
  height: 100%; // Altura del contenedor de la aplicación
  width: 100%; // Ancho del contenedor de la aplicación
  color: rgb(255, 255, 255); // Color del texto
}

// Estilos para la lista del menú contextual
.context-menu-list {
  min-width: 200px; // Ancho mínimo
  background-color: $mainColor; // Color de fondo
  color: $textColor; // Color del texto
  padding: 4px; // Padding
  border-color: rgba(0, 0, 0, 0.2); // Color del borde
  border-style: inset; // Estilo del borde
  border-width: 1px; // Ancho del borde
  border-radius: 4px; // Bordes redondeados
  outline: none; // Sin contorno
  display: flex; // Usar flexbox
  flex-direction: column; // Dirección de los elementos
}

// Estilos para los elementos del menú contextual
.context-menu-item  {
  padding: 8px; // Padding
  border-radius: 4px; // Bordes redondeados
  background-color: transparent; // Fondo transparente
  outline: none; // Sin contorno
  border: none; // Sin borde
  color: $textColor; // Color del texto
  display: flex; // Usar flexbox
  justify-content: space-between; // Espaciado entre elementos
  align-items: center; // Alinear elementos al centro
  &:active {
    transform: none; // Sin transformación al hacer clic
  }
  &:hover {
    background-color: $secondaryColorHighlight; // Fondo al pasar el ratón
    cursor: pointer; // Cambiar cursor al pasar el ratón
  }
}

// Estilos para la descripción de la herramienta
.tooltip-description {
  padding-top: 5px; // Padding superior
}

// Estilos para los párrafos dentro del tooltip de markdown
.tooltip-markdown > p {
  margin: 0; // Sin margen
}

// Estilos para el botón activo
button:active {
  transform: translateY(3px); // Desplazamiento al hacer clic
}

// Estilos para la vista previa de arrastre de elementos
.item-drag-preview {
  width: 7.7vh; // Ancho de la vista previa
  height: 7.7vh; // Altura de la vista previa
  z-index: 1; // Z-index
  position: fixed; // Posición fija
  pointer-events: none; // Sin eventos de puntero
  top: 0; // Posición superior
  left: 0; // Posición izquierda
  background-repeat: no-repeat; // Sin repetición de fondo
  background-position: center; // Centrar fondo
  background-size: 7vh; // Tamaño del fondo
  image-rendering: -webkit-optimize-contrast; // Mejora de contraste de imágenes
}

// Estilos para el contenedor del inventario
.inventory-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: center; // Centrar elementos
  align-items: center; // Alinear elementos al centro
  height: 100%; // Altura del contenedor
  gap: 20px; // Espaciado entre elementos
}

// Estilos para el control del inventario
.inventory-control {
  display: flex; // Usar flexbox

  .inventory-control-wrapper {
    display: flex; // Usar flexbox
    flex-direction: column; // Dirección de los elementos
    gap: 20px; // Espaciado entre elementos
    justify-content: center; // Centrar elementos
    align-items: center; // Alinear elementos al centro
  }

  // Estilos para los inputs de control del inventario
  .inventory-control-input {
    transition: 200ms; // Transición de 200 ms
    padding: 16px 8px; // Padding
    border-radius: 2.5%; // Bordes redondeados
    font-family: $mainFont; // Fuente principal
    font-size: 16px; // Tamaño de fuente
    text-align: center; // Alinear texto al centro
    outline: none; // Sin contorno
    border: none; // Sin borde
    color: #fff; // Color del texto
    background-color: $secondaryColor; // Color de fondo
    &:focus-within {
      background-color: $secondaryColorDark; // Fondo al enfocar
    }
  }

  // Estilos para los botones de control del inventario
  .inventory-control-button {
    font-size: 14px; // Tamaño de fuente
    color: #fff; // Color del texto
    background-color: $secondaryColor; // Color de fondo
    transition: 200ms; // Transición de 200 ms
    padding: 12px 8px; // Padding
    border-radius: 2.5%; // Bordes redondeados
    border: none; // Sin borde
    text-transform: uppercase; // Texto en mayúsculas
    font-family: $mainFont; // Fuente principal
    width: 100%; // Ancho completo
    font-weight: 500; // Peso de fuente
    &:hover {
      background-color: $secondaryColorDark; // Fondo al pasar el ratón
    }
  }
}

// Estilos para el diálogo de controles útiles
.useful-controls-dialog {
  background-color: $mainColor; // Color de fondo
  position: absolute; // Posición absoluta
  top: 50%; // Centrar verticalmente
  left: 50%; // Centrar horizontalmente
  transform: translate(-50%, -50%); // Transformación para centrar
  color: $textColor; // Color del texto
  width: 450px; // Ancho del diálogo
  display: flex; // Usar flexbox
  flex-direction: column; // Dirección de los elementos
  padding: 16px; // Padding
  border-radius: 4px; // Bordes redondeados
  gap: 16px; // Espaciado entre elementos
}

// Estilos para la superposición del diálogo
.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5); // Color de fondo con opacidad
}

// Estilos para el título del diálogo
.useful-controls-dialog-title {
  display: flex; // Usar flexbox
  width: 100%; // Ancho completo
  justify-content: space-between; // Espaciado entre elementos
  align-items: center; // Alinear elementos al centro
  font-size: 18px; // Tamaño de fuente
}

// Estilos para el botón de cerrar del diálogo
.useful-controls-dialog-close {
  width: 25px; // Ancho del botón
  height: 25px; // Altura del botón
  padding: 6px; // Padding
  display: flex; // Usar flexbox
  justify-content: center; // Centrar elementos
  align-items: center; // Alinear elementos al centro
  border-radius: 4px; // Bordes redondeados
  fill: $textColor; // Color de relleno
  &:hover {
    background-color: $secondaryColorHighlight; // Fondo al pasar el ratón
    cursor: pointer; // Cambiar cursor al pasar el ratón
  }
}

// Estilos para el contenedor de contenido del diálogo
.useful-controls-content-wrapper {
  display: flex; // Usar flexbox
  flex-direction: column; // Dirección de los elementos
  gap: 20px; // Espaciado entre elementos
}

// Estilos para el divisor
.divider {
  width: 100%; // Ancho completo
  height: 1px; // Altura del divisor
  background-color: rgba(255, 255, 255, 0.12); // Color de fondo
}

// Estilos para el botón de controles útiles
.useful-controls-button {
  position: absolute !important; // Posición absoluta
  bottom: 25px; // Posición inferior
  right: 25px; // Posición derecha
  transition: 200ms !important; // Transición de 200 ms
  border: none; // Sin borde
  color: white; // Color del texto
  width: 52px; // Ancho del botón
  height: 52px; // Altura del botón
  display: flex; // Usar flexbox
  justify-content: center; // Centrar elementos
  align-items: center; // Alinear elementos al centro
  fill: white; // Color de relleno
  border-radius: 5% !important; // Bordes redondeados
  background-color: $secondaryColor !important; // Color de fondo
  &:hover {
    background-color: $secondaryColorDark !important; // Fondo al pasar el ratón
    cursor: pointer; // Cambiar cursor al pasar el ratón
  }
}

// Estilos para el botón de salida de controles útiles
.useful-controls-exit-button {
  position: absolute !important; // Posición absoluta
  right: 8px; // Posición derecha
  top: 8px; // Posición superior
  border-radius: 2.5% !important; // Bordes redondeados
  color: grey !important; // Color del texto
}

// Diálogo utilizado para la ventana de controles útiles

// Estilos para las cuadrículas del inventario
.inventory-grid-wrapper {
  display: flex; // Usar flexbox
  flex-direction: column; // Dirección de los elementos
  gap: calc($gridGap * 2); // Espaciado entre elementos
}

// Estilos para el encabezado de la cuadrícula del inventario
.inventory-grid-header-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: space-between; // Espaciado entre elementos
  p {
    font-size: 16px; // Tamaño de fuente
  }
}

// Estilos para el contenedor de la cuadrícula del inventario
.inventory-grid-container {
  display: grid; // Usar cuadrícula
  height: $containerSize; // Altura del contenedor
  grid-template-columns: repeat($gridCols, $gridSize); // Definir columnas
  grid-auto-rows: $gridSize + 0.22vh; // Definir filas
  gap: $gridGap; // Espaciado entre celdas
  overflow-y: scroll; // Desplazamiento vertical
}

// Estilos para las ranuras del inventario
.inventory-slot {
  background-color: $secondaryColor; // Color de fondo
  background-repeat: no-repeat; // Sin repetición de fondo
  background-position: center; // Centrar fondo
  border-radius: 2.5%; // Bordes redondeados
  image-rendering: -webkit-optimize-contrast; // Mejora de contraste de imágenes
  position: relative; // Posición relativa
  background-size: 7vh; // Tamaño del fondo
  color: $textColor; // Color del texto
  border-color: rgba(0, 0, 0, 0.2); // Color del borde
  border-style: inset; // Estilo del borde
  border-width: 1px; // Ancho del borde
}

// Estilos para la caja de etiqueta de la ranura del inventario
.inventory-slot-label-box {
  background-color: $mainColor; // Color de fondo
  color: $textColor; // Color del texto
  text-align: center; // Alinear texto al centro
  border-bottom-left-radius: 0.25vh; // Bordes redondeados
  border-bottom-right-radius: 0.25vh; // Bordes redondeados
  border-top-color: rgba(0, 0, 0, 0.2); // Color del borde superior
  border-top-style: inset; // Estilo del borde superior
  border-top-width: 1px; // Ancho del borde superior
}

// Estilos para el texto de la etiqueta de la ranura del inventario
.inventory-slot-label-text {
  text-transform: uppercase; // Texto en mayúsculas
  white-space: nowrap; // Sin salto de línea
  overflow: hidden; // Ocultar desbordamiento
  text-overflow: ellipsis; // Mostrar puntos suspensivos si hay desbordamiento
  padding: 2px 3px; // Padding
  font-weight: 400; // Peso de fuente
  font-family: $mainFont; // Fuente principal
  font-size: 12px; // Tamaño de fuente
}

// Estilos para el número de la ranura del inventario
.inventory-slot-number {
  background-color: white; // Color de fondo
  color: black; // Color del texto
  height: 12px; // Altura
  border-top-left-radius: 0.25vh; // Bordes redondeados
  border-bottom-right-radius: 0.25vh; // Bordes redondeados
  padding: 3px; // Padding
  font-size: 12px; // Tamaño de fuente
  font-family: $mainFont; // Fuente principal
}

// Estilos para el contenedor de la ranura de elementos
.item-slot-wrapper {
  display: flex; // Usar flexbox
  flex-direction: column; // Dirección de los elementos
  justify-content: space-between; // Espaciado entre elementos
  height: 100%; // Altura completa
  p {
    font-size: 12px; // Tamaño de fuente
  }
}

// Estilos para el encabezado de la ranura de elementos
.item-slot-header-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: flex-end; // Alinear a la derecha
}

// Estilos para el encabezado de la ranura de elementos calientes
.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper; // Extender estilos
  justify-content: space-between !important; // Espaciado entre elementos
}

// Estilos para la información de la ranura de elementos
.item-slot-info-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  align-self: flex-end; // Alinear al final
  padding: 3px; // Padding
  gap: 3px; // Espaciado entre elementos
  p {
    font-size: 12px; // Tamaño de fuente
  }
}

// Estilos para la ranura de moneda
.item-slot-currency-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: flex-end; // Alinear a la derecha
  align-items: center; // Alinear elementos al centro
  padding-right: 3px; // Padding a la derecha
  p {
    font-size: 14px; // Tamaño de fuente
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7); // Sombra de texto
  }
}

// Estilos para la ranura de precio
.item-slot-price-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: flex-end; // Alinear a la derecha
  padding-right: 3px; // Padding a la derecha
  p {
    font-size: 14px; // Tamaño de fuente
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7); // Sombra de texto
  }
}

// Estilos para el contenedor de tooltip
.tooltip-wrapper {
  pointer-events: none; // Sin eventos de puntero
  display: flex; // Usar flexbox
  background-color: $mainColor; // Color de fondo
  width: 200px; // Ancho del tooltip
  padding: 8px; // Padding
  flex-direction: column; // Dirección de los elementos
  min-width: 200px; // Ancho mínimo
  color: $textColor; // Color del texto
  font-family: $mainFont; // Fuente principal
  border-radius: 4px; // Bordes redondeados
  border-color: rgba(0, 0, 0, 0.2); // Color del borde
  border-style: inset; // Estilo del borde
  border-width: 1px; // Ancho del borde
  p {
    font-size: 12px; // Tamaño de fuente
    font-weight: 400; // Peso de fuente
  }
}

// Estilos para el encabezado del tooltip
.tooltip-header-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: space-between; // Espaciado entre elementos
  align-items: center; // Alinear elementos al centro
  p {
    font-size: 15px; // Tamaño de fuente
    font-weight: 400; // Peso de fuente
  }
}

// Estilos para la duración de la elaboración en el tooltip
.tooltip-crafting-duration {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  align-items: center; // Alinear elementos al centro
  justify-content: center; // Centrar elementos
  svg {
    padding-right: 3px; // Padding a la derecha
  }
  p {
    font-size: 14px; // Tamaño de fuente
  }
}

// Estilos para los ingredientes en el tooltip
.tooltip-ingredients {
  padding-top: 5px; // Padding superior
}

// Estilos para cada ingrediente en el tooltip
.tooltip-ingredient {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  align-items: center; // Alinear elementos al centro
  img {
    width: 28px; // Ancho de la imagen
    height: 28px; // Altura de la imagen
    padding-right: 5px; // Padding a la derecha
  }
}

// Estilos para la barra de acceso rápido
.hotbar-container {
  display: flex; // Usar flexbox
  align-items: center; // Alinear elementos al centro
  gap: 2px; // Espaciado entre elementos
  justify-content: center; // Centrar elementos
  width: 100%; // Ancho completo
  position: absolute; // Posición absoluta
  bottom: 2vh; // Posición inferior
}

// Estilos para los slots de la barra de acceso rápido
.hotbar-item-slot {
  @extend .inventory-slot; // Extender estilos de ranura de inventario
  width: $gridSize; // Ancho de la ranura
  height: $gridSize; // Altura de la ranura
}

// Estilos para el encabezado de los slots de la barra de acceso rápido
.hotbar-slot-header-wrapper {
  display: flex; // Usar flexbox
  flex-direction: row; // Dirección de los elementos
  justify-content: space-between; // Espaciado entre elementos
}

// Estilos para el contenedor de notificaciones de elementos
.item-notification-container {
  display: flex; // Usar flexbox
  overflow-x: scroll; // Desplazamiento horizontal
  flex-wrap: nowrap; // Sin ajuste de línea
  gap: 2px; // Espaciado entre elementos
  position: absolute; // Posición absoluta
  bottom: 20vh; // Posición inferior
  left: 50%; // Centrar horizontalmente
  width: 100%; // Ancho completo
  margin-left: calc(50% - calc($gridSize/2)); // Ajustar el margen
  transform: translate(-50%); // Centrando el contenedor
}

// Estilos para la caja de acción de notificación de elementos
.item-notification-action-box {
  width: 100%; // Ancho completo
  color: $textColor; // Color del texto
  background-color: $secondaryColor; // Color de fondo
  text-transform: uppercase; // Texto en mayúsculas
  text-align: center; // Alinear texto al centro
  border-top-left-radius: 0.25vh; // Bordes redondeados
  border-top-right-radius: 0.25vh; // Bordes redondeados
  font-family: $mainFont; // Fuente principal
  p {
    font-size: 11px; // Tamaño de fuente
    padding: 2px; // Padding
    font-weight: 600; // Peso de fuente
  }
}

// Estilos para la caja de elementos de notificación
.item-notification-item-box {
  @extend .inventory-slot; // Extender estilos de ranura de inventario
  height: $gridSize; // Altura de la ranura
  width: $gridSize; // Ancho de la ranura
}

// Estilos para la barra de durabilidad
.durability-bar {
  background: rgba(0, 0, 0, 0.5); // Color de fondo
  height: 3px; // Altura de la barra
  overflow: hidden; // Ocultar desbordamiento
}

// Estilos para la barra de peso
.weight-bar {
  background: rgba(0, 0, 0, 0.4); // Color de fondo
  border: 1px inset rgba(0, 0, 0, 0.1); // Borde
  height: 0.8vh; // Altura de la barra
  border-radius: 5%; // Bordes redondeados
  overflow: hidden; // Ocultar desbordamiento
}

// Estilos para la transición de entrada (fade)
.transition-fade-enter {
  opacity: 0; // Opacidad inicial
}

.transition-fade-enter-active {
  opacity: 1; // Opacidad final
  transition: opacity 200ms; // Transición de opacidad
}

.transition-fade-exit {
  opacity: 1; // Opacidad inicial
}

.transition-fade-exit-active {
  opacity: 0; // Opacidad final
  transition: opacity 200ms; // Transición de opacidad
}

// Estilos para la transición de deslizamiento hacia arriba (slide up)
.transition-slide-up-enter {
  transform: translateY(200px); // Desplazamiento inicial
}

.transition-slide-up-enter-active {
  transform: translateY(0); // Restablecer el desplazamiento a 0
  transition: transform 200ms; // Transición de transformación
}

.transition-slide-up-exit {
  transform: translateY(0); // Posición inicial al salir
}

.transition-slide-up-exit-active {
  transform: translateY(-200px); // Desplazarse hacia arriba al salir
  transition: transform 200ms; // Transición de transformación
}
